[2021-12-20 09:36] syedsohan opened #1 "10-1-2022 is missing"
Here, `10-1-2022` is missing
![Screenshot_1](https://user-images.githubusercontent.com/63908584/146745332-99c66e7d-acb3-4744-9910-9d5e20b165fb.png)

If we add 10-1-2022 then there will be no need for 29-3-2022. You can end your streak of 100-days-of-Web3 at 28-3-2022.

[2021-12-20 09:37] syedsohan commented on #1
@FrancescoXX if you want I can add 10-1-2022.

[2021-12-21 05:09] FrancescoXX commented on #1
nice catch, thank you! go for that if you want!

[2021-12-21 05:58] syedsohan commented on #1
I have updated the README.md #2

[2021-12-22 07:33] #1 closed

[2022-01-22 07:06] antariksh17 opened #3 "Can I know where you are learning from so even I can keep a track of it?"
Thank you in advance!

[2022-01-27 12:13] FrancescoXX commented on #3
I don't track them, Ethereum docs and solidity docs for sure, then I also integrate with other searches. I am more focused on the final result

[2022-01-27 12:13] #3 closed

[2022-03-24 05:21] rishiyadav1923 opened #5 "Solana resources"
https://dev.to/edge-and-node/The-complete-guide-to-full-stack-solana-development-with-react-anchor-rust-and-phantom-3291

[2022-03-24 05:35] FrancescoXX commented on #5
Hi @rishiyadav1923 , is this a suggestion to include this article?

[2022-03-24 09:25] FahimFBA commented on #5
This page doesn't exist anymore, @rishiyadav1923.

[2022-03-24 09:29] FahimFBA opened #7 "Inclusion of the URL of the authors"
If we can add the relevant URLs for the author, like the Twitter handle or so on, then wouldn't it be great? Please let me know what do you think about it.

[2022-03-24 09:30] FahimFBA opened #8 "Missing the Issue Templates"
The project is currently missing the Issue Templates. If we add some, then it would also help us to sort out different types of issues. I would like to add a PR including some if you would approve this.

[2022-03-24 10:09] rishiyadav1923 opened #9 "I think this would work"
https://dev.to/edge-and-node/the-complete-guide-to-full-stack-solana-development-with-react-anchor-rust-and-phantom-3291

[2022-03-24 11:21] FrancescoXX commented on #8
Thank you, Fahim. Yes that's on the TODO list

[2022-03-24 11:21] #8 closed

[2022-03-24 11:23] FrancescoXX commented on #7
Hi Fahim. what do you mean by Author? for the articles? Yes that's a plan. for now, I just put some basic resources, but thank you for the collaborations

[2022-03-24 18:17] FahimFBA commented on #7
Yes, you are absolutely right! I think I should clarify that in detail though. I thought if the authors' Twitter handle or some relevant URLs got added in the article, then it would also be helpful for the audiences if they want to find out more about them.

[2022-03-29 21:03] FrancescoXX commented on #9
Hi, is this a suggestion to include this?

[2022-04-01 12:46] Pradumnasaraf opened #11 "docs: Add LICENCE"
![Screenshot from 2022-04-01 18-22-19](https://user-images.githubusercontent.com/51878265/161267504-b408667a-760c-429b-a34b-22c4c4350d83.png)

[2022-04-01 12:47] Pradumnasaraf opened #12 "docs: Add PR Template"
We are missing on some [Community Standards](https://github.com/FrancescoXX/100-days-of-Web3/community)

![Screenshot from 2022-04-01 18-22-19](https://user-images.githubusercontent.com/51878265/161267504-b408667a-760c-429b-a34b-22c4c4350d83.png)

[2022-04-01 12:47] akebu6 opened #13 "create a code of conduct"
This way people are able to know how to behave when contributing to the project

[2022-04-01 12:47] ewainy opened #14 "Add how to contribute"

[2022-04-01 12:48] amasucci opened #15 "Add code of conduct"
Add a code of conduct to defines standards for how to engage in a community.

[2022-04-01 12:48] Pradumnasaraf opened #16 "docs: Add Contributing guidelines"

[2022-04-01 12:50] Pradumnasaraf opened #17 "feat: Host the repo"

[2022-04-01 12:55] akebu6 opened #18 "Update repo url to the deployed version"

[2022-04-01 12:55] FrancescoXX commented on #11
Solved!

https://github.com/FrancescoXX/100-days-of-Web3/commit/32f26bcbf73b729cfc633253d3ffa4767e8cd507

[2022-04-01 12:55] #11 closed

[2022-04-01 13:00] FrancescoXX commented on #15
duplicated of https://github.com/FrancescoXX/100-days-of-Web3/issues/13

[2022-04-01 13:00] #15 closed

[2022-04-01 13:04] FrancescoXX commented on #13
solved in https://github.com/FrancescoXX/100-days-of-Web3/commit/23ff05e7d1d4f344e127c67ce246c0a5848ab749

[2022-04-01 13:10] FrancescoXX commented on #16
duplicated https://github.com/FrancescoXX/100-days-of-Web3/issues/14

[2022-04-01 13:11] FrancescoXX commented on #14
file created https://github.com/FrancescoXX/100-days-of-Web3/commit/6f4cddc7b87dd05b86327708c5952c378b949953

[2022-04-01 13:11] #14 closed

[2022-04-01 13:17] #12 closed

[2022-04-01 13:23] Saurabhpatil-dev opened #20 "Remove the Table of content"
As discussed we can remove table of contents as it is provided by Github.

[2022-04-01 13:25] Saurabhpatil-dev commented on #20
Hi @FrancescoXX, I have created a pull request for it. Can you please chek?

[2022-04-04 05:48] Saurabhpatil-dev opened #24 "Discord Link for 4C community"
Hi all, as we have a discord community, we can add its link in readme to help more people join community.

[2022-04-04 05:51] Saurabhpatil-dev commented on #24
@Pradumnasaraf can you add good first issue label to this issue ?

[2022-04-06 03:38] Pradumnasaraf commented on #24
Hey! Saurabh I am not a maintainer of this repo, Francesco can only add labels.

[2022-04-08 15:44] FrancescoXX commented on #20
done on https://github.com/FrancescoXX/free-Web3-resources/commit/b1a13bbe3afc9fbff87763f860b48f5954acafc7

[2022-04-08 15:44] #20 closed

[2022-04-08 15:51] FrancescoXX opened #26 "Update Contributors Title"
please add # as a title

[2022-04-08 15:53] FrancescoXX commented on #26
done! Thank you @eddiejaoude  https://github.com/FrancescoXX/free-Web3-resources/commit/908ca5a01ab21d022fbf3600cf793c53bbd9a961

😂😂😂😂

[2022-04-08 15:53] #26 closed

[2022-04-08 16:07] #17 closed

[2022-04-08 16:20] #24 closed

[2022-04-08 16:21] FrancescoXX commented on #5
the link doesn't work.

[2022-04-08 16:21] #5 closed

[2022-04-08 16:22] FrancescoXX commented on #7
I agree. let's give them credit

[2022-04-08 16:25] FrancescoXX opened #28 "Add Solana Section"
Please add a Solana Section

[2022-04-08 16:26] FrancescoXX commented on #9
Nice suggestion, we need to fix this issue before #28

[2022-04-08 16:27] FrancescoXX commented on #18
Done https://francescoxx.github.io/free-Web3-resources

[2022-04-08 16:27] #18 closed

[2022-04-08 16:42] FrancescoXX opened #29 "Update Contributors guidelines"
Suggest Contributors guidelines

[2022-04-09 18:48] vikasganiga05 opened #32 "Alphabetical order"
Alphabetize each section's name and the list of items inside each section. This makes it easier for viewers to find what they are looking for.

[2022-04-10 06:39] FrancescoXX commented on #32
That makes sense I also thought about this

[2022-04-10 07:37] ewainy commented on #32
It's a good idea for sure 😊💡

[2022-04-10 13:27] vikasganiga05 commented on #32
Thank You :pray:

[2022-04-12 06:11] FahimFBA commented on #7
Can I add some with PR?

[2022-04-17 11:55] avneesh0612 opened #35 "Add web3.js in sdks section"
I think the [web3](https://www.npmjs.com/package/web3) package can be added as a resource in the sdk section

[2022-04-18 06:38] JayrajSingh65 opened #37 "####YouTube####"
< --- I found problem that there is no direct link open in YouTube --->

**solution I would like**
A clear and concise description of what I want or users

**To make better experience for people provide direct link open in  YouTube which may help them to explore that channel so that they can find their relative content etc. **

[2022-04-18 06:39] JayrajSingh65 commented on #37
What you guys think about this?  🤔

[2022-04-19 05:45] tawseefnabi commented on #37
youtube tutorials related web3 is good option. there are many channels which provide ample knowledge about it

[2022-04-22 16:43] FrancescoXX commented on #28
done by https://github.com/FrancescoXX/free-Web3-resources/commit/0f9b6c9794723bee24da90e1eac10d389c5a2e23

[2022-04-22 16:43] #28 closed

[2022-04-22 16:48] FrancescoXX commented on #7
sure go on

[2022-04-22 16:49] krshdev commented on #7
I think we should appreciate contributors by adding an image of the avatars like how all projects do... Crediting the author would add tok much Noise IMO

[2022-04-22 16:51] FrancescoXX commented on #9
added by https://github.com/FrancescoXX/free-Web3-resources/commit/0f9b6c9794723bee24da90e1eac10d389c5a2e23

[2022-04-22 16:51] #9 closed

[2022-04-22 16:51] krshdev commented on #29
Can I be assigned to this? Thank you

[2022-04-22 16:52] FrancescoXX commented on #29
done!

[2022-04-22 16:52] FahimFBA commented on #7
I don't think so. The authors should be credited for their awesome work. If we get too many contributors, then a whole bunch of avatars might seem overkill.

[2022-04-22 16:52] krshdev commented on #32
This is a awesome idea, I think we should add this to the contributing guide #29

[2022-04-22 16:53] FrancescoXX commented on #32
good idea!

[2022-04-22 16:56] FrancescoXX commented on #35
hi, Web3.js is already in the repository but in another section

https://github.com/FrancescoXX/free-Web3-resources#client-sdks

[2022-04-22 16:58] FahimFBA opened #44 "Typo in the project"
**Describe the bug**
I have found a typo in the project; therefore I am submitting a PR to solve that.

**To Reproduce**
Not necessary

**Expected behavior**
Not necessary

[2022-04-22 17:00] FrancescoXX commented on #37
Hi @JayrajSingh65, can you please explain what do you mean? adding youtube videos/channels about Web3?

[2022-04-22 17:02] #7 closed

[2022-04-22 17:04] FrancescoXX commented on #44
solved by https://github.com/FrancescoXX/free-Web3-resources/commit/20fc3601efede65c1174c977b76e35cb571485e8

[2022-04-22 17:04] #44 closed

[2022-04-23 01:03] avneesh0612 commented on #35
Ah I see. My bad

[2022-04-23 01:03] #35 closed

[2022-04-23 04:41] JayrajSingh65 commented on #37
There should be link for YouTube channels  of web3 and crypto so users can easily explore youTube content related to web3

Give link of some following YouTube channels

1. Whiteboard crypto
2. Dapp university
Etc.
[YouTube ](https://youtu.be/oPIupbsVimc)

[2022-04-23 04:45] JayrajSingh65 commented on #37
There should be link for YouTube channels  of web3 and crypto so users can easily explore youTube content related to web3

Give link of some following YouTube channels

1. Whiteboard crypto
2. Dapp university
Etc.
[YouTube ](https://youtu.be/oPIupbsVimc)

Add links of YouTube channels in  Readme.md

[2022-04-27 12:44] krshkodes commented on #29
Hey! I am kinda occupied with a quite of bit of work, so I hope you don't mind if I submit a PR by the weekend! :D

[2022-04-27 12:48] ewainy commented on #29
I don't think there is any rush Krish, so don't worry too much! I am the same, lots of work on! Hope to catch up with you at the weekend. Take care :)

[2022-04-29 19:06] ithiel883 commented on #32
can i be assigned this issue?

[2022-04-29 19:29] ewainy commented on #32
Hi @ithiel883 thank you for this, we appreciate the help! I have assigned this issue to you now.

[2022-04-29 20:42] ithiel883 commented on #32
okay, i will work on it now

[2022-05-01 14:23] Dheer3999 commented on #32
Good~~~~

[2022-05-13 17:57] ajl388 opened #54 "For now, I don't see the community (like a discord or Slack channel)"
For now, I don't see the community (like a discord or Slack channel)
https://discord.gg/UQayXxzazc

Discord is in the platform looks like to prevent bots and spam

Please revert the Buildspace link
I will

_Originally posted by @FrancescoXX in https://github.com/FrancescoXX/free-Web3-resources/issues/52#issuecomment-1126223156_

[2022-05-16 09:41] doctorresidual commented on #54
Thanks for raising this concern. It solves what I intended too.

[2022-05-28 06:01] FrancescoXX opened #57 "Add latest Patrick Collins video on freecodecamp"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-06-23 04:28] sanjeeban5644 opened #58 "Add a guide to Full Stack Ethereum Development"
For those beginning, a guide to full stack development on Ethereum will be one of the best resource to go through.

[2022-07-09 10:38] mkubdev commented on #32
Hi, i can work on this right now, can i be assigned ?

[2022-07-09 11:10] ewainy commented on #32
@mkubdev please check with @ithiel883
@ithiel883 can you provide an update of where this issue is upto :)

[2022-07-09 11:13] ewainy commented on #29
@krshkodes can this issue be closed? Your contribution guide is amazing :)

[2022-07-09 11:14] mkubdev commented on #32
@ewainy Alright! Let's wait for @ithiel883 update :)

[2022-07-09 11:32] ewainy commented on #57
@nirban256 my apologies, I created a PR before Francesco created this issue. If Francesco is happy with the structure and approves, perhaps we can work on finding some similar resources together? :)

[2022-07-09 11:34] ewainy commented on #58
I'm happy with your PR, nice work :)
I will ask Francesco to review

[2022-07-09 13:30] nirban256 commented on #57
@ewainy yeah sure I'd be happy to do that

[2022-07-10 15:43] krshkodes commented on #29
Yes! Absolutely

[2022-07-19 08:07] mkubdev commented on #32
Hi, any news from @ithiel883 ?

[2022-07-21 15:03] SahityaRoy opened #63 "Adding New Jobs for the blockchain developers"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-07-22 15:44] FrancescoXX opened #64 "Add Learning Platform Section"
Add another section for "Learning Platforms" at the end of the Readme.md file

The title should be formatted using:

"## Learning Platforms"

[2022-07-22 16:27] FrancescoXX commented on #63
This repository is intended to learn Web3 and not to post job opportunities.

[2022-07-22 16:27] #63 closed

[2022-08-01 12:20] ewainy commented on #32
@mkubdev I didn't hear anything, did you? 👀

I'm going to reassign this as we have left it enough time, so I think we have been more than fair.

[2022-08-01 14:34] mkubdev commented on #32
Hi @ewainy 👋🏻 No, no news!
Thanks a lot, I'll open a PR asap. Thanks for assigning me. 💡

[2022-08-04 09:26] JayrajSingh65 commented on #64
hey bro i added youtube section

[2022-08-04 09:27] JayrajSingh65 commented on #64
I added yt section check it out and approve my pull request

[2022-08-06 20:27] geniusyinka opened #68 "Add Ethereum Development Tools"
Add resources/tools used in Ethereum Development

[2022-08-07 09:21] yash251 commented on #64
Can you assign this to me ?

[2022-08-11 22:37] #68 closed

[2022-08-14 10:23] JayrajSingh65 commented on #64
Check out my pull request

[2022-08-16 15:13] #29 closed

[2022-08-16 15:17] ewainy commented on #32
Happy with the PR by @mkubdev going to close this issue, we can create additional issues which match section worked in the future.

[2022-08-16 15:17] #32 closed

[2022-08-16 15:23] ewainy commented on #64
@snehashish-ghosh98 yes please include a short description for each. Are you happy to be assigned?

[2022-08-16 15:29] ewainy commented on #64
Hi @yash251, @snehashish-ghosh98 was first to request so the issue will be offered to them first. If @snehashish-ghosh98 comments on the resources they will add, you could make a separate PR for other resources :)

[2022-08-16 17:06] snehashish-ghosh98 commented on #64
Yes @ewainy , I will take up the issue. Thank You.

[2022-08-26 15:40] FrancescoXX commented on #37
done by 48c7aee6cc1efd277cedc811bfbfce5295b42071

[2022-08-26 15:40] #37 closed

[2022-08-26 15:42] FrancescoXX commented on #54
let's discuss this in the GitHub discussions

[2022-08-26 15:42] #54 closed

[2022-08-26 15:45] FrancescoXX commented on #57
done by https://github.com/FrancescoXX/free-Web3-resources/commit/7c40f1f1d2ec897f134570453e77d358ccaac534

[2022-08-26 15:45] #57 closed

[2022-08-26 15:47] FrancescoXX commented on #58
added the Patrick Collins video on freeCodeCamp

[2022-08-26 15:47] #58 closed

[2022-08-26 15:48] FrancescoXX commented on #64
we have a learning platform section now. well done

[2022-08-26 15:48] #64 closed

[2022-08-26 15:56] FrancescoXX opened #72 "Sections restructuring"
The current links can be organized in a better way

**Solution:**
A roadmap-style list from beginner to advanced

[2022-08-26 17:08] yash251 commented on #72
Would love to work on this. Please assign it to me.

[2022-08-27 10:11] Susmita-Dey opened #74 "[DOCUMENTATION] Add New YT channel"
**Is your feature request related to a problem? Please describe.**
I want to add 1 new YT channels in the `README.md` file

**Describe the solution you'd like**
Channel links - [EatTheBlocks](https://www.youtube.com/c/EatTheBlocks)

**Describe alternatives you've considered**
Null

**Additional context**
Null

[2022-09-01 05:48] Shukla007 commented on #74
Yes you can add a new Youtube channel just create a new PR and you good to go 👍

[2022-09-02 16:23] Susmita-Dey commented on #74
@Shukla007
okay thanks

[2022-09-05 07:03] Rahul-Prasad-07 opened #79 "Add new section of Open Source Projects"
**Additional context**
There  are number Open Source Projects you can contribute to :

- [Aelf](https://github.com/AElfProject/AElf)
- [Bitcoin](https://github.com/bitcoin/bitcoin)
- [Brownie](https://github.com/eth-brownie/brownie)
- [Blockchain CLI](https://github.com/0xs34n/blockchain-cli)
- [Chainlink](https://github.com/smartcontractkit/chainlink)
- [chia-blockchain](https://github.com/Chia-N

[2022-09-05 07:04] Rahul-Prasad-07 commented on #79
I want to add some open source projects that are available for us to contribute. I hope this will help our community.

[2022-09-27 04:27] syedmairaj opened #81 "Web3"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-09-29 10:36] #81 closed

[2022-09-29 11:13] FrancescoXX commented on #72
done @yash251

[2022-09-30 17:30] DakshitChopra opened #82 "Want to add a Web3 Roadmap that I found helpful in "Readme" file"
I found this roadmap useful when I started Web3, so wanted to add this in readme.md file
https://remote3.co/blog-post/complete-web3-developer-roadmap-2022

[2022-10-01 04:42] dmdbilal commented on #79
is this issue still open?

[2022-10-01 07:50] #79 closed

[2022-10-01 08:00] FrancescoXX opened #85 "add a .gitignore to the repository"
**Is your feature request related to a problem? Please describe.**
add a .gitignore file

**Describe the solution you'd like**
add the .gitgnore file with a basic template

[2022-10-01 08:01] kristiankauffeld commented on #85
I'll work on it

[2022-10-01 08:02] FrancescoXX commented on #85
kk

[2022-10-01 08:05] FrancescoXX opened #86 "Add dark mode to the website"
Please add the dark mode functionality

The light mode should still be available

Optional: set dark mode as the default

Current website link
https://francescoxx.github.io/free-Web3-resources/#/

[2022-10-01 08:06] hridaya423 opened #87 "[DOCUMENTATION] Add New YT channels & roadmap"
**Is your feature request related to a problem? Please describe.**
I want to add 2 new YT channels in the README.md file
I want to add 1 Roadmap in the README.md file

**Describe the solution you'd like**
Channel links -
[Nader Dabit](https://www.youtube.com/c/naderdabit)
[Block Explorer](https://www.youtube.com/c/BlockExplorerMedia)

Roadmap link -
https://www.youtube.com/watch?v=aVQJGr2J8io

**D

[2022-10-01 08:09] FrancescoXX opened #88 "Add a in-person presentations section"
Add a section for Presentations

## In-person Presentations

[2022-10-01 08:10] mhammadsaani commented on #86
I can work on this!

[2022-10-01 08:10] Johnnyteck commented on #88
This can go before the youtube channels section right. Would love to give it a go

[2022-10-01 08:22] FrancescoXX opened #90 "Broken links in Contributing.md"
**Describe the bug**
There are 21 broken links in Contributing.md

**To Reproduce**
Steps to reproduce the behavior:
1. https://github.com/FrancescoXX/free-Web3-resources/blob/main/CONTRIBUTING.md
2. Click on "Beginner issues" or "Help wanted" link
4. the github 404 page is displayed

**Expected behavior**
links should redirect to good-first issue and help wanted issues

**Screenshots**
![image](h

[2022-10-01 08:22] mhammadsaani commented on #90
I want to work on this

[2022-10-01 08:22] hridaya423 commented on #90
I can work on this!

[2022-10-01 08:23] Johnnyteck commented on #90
Can you assign me this please

[2022-10-01 08:24] #85 closed

[2022-10-01 08:29] FrancescoXX opened #94 "Add automatic versioning"
Add a release.yml file in the workflows directory, with the content below

Release will also create a tag and show on the homepage of the repo

Disclaimer: will need to use conventional commit messages to trigger release creation

File path `.github/workflows/release.yml`

[code]

<img width="670" alt="Screenshot 2022-09-30 at 16 17 40" src="https://user-images.githubusercontent.com/624760/1933024

[2022-10-01 08:35] mhammadsaani commented on #94
Working on this !

[2022-10-01 08:37] arefathi opened #96 "Add a few more resources to the list"
First up, this is a great repository.  would like to add some more resources that have helped me learn Web3 if that's okay.
Resources include aspects such as security, jobs, and grants.

[2022-10-01 08:37] pruthvirajjadhav1 opened #97 "To add a new resource to practice and learn solidity"
I would like to add [https://cryptozombies.io/en/course/](url) in the resources to practice and learn solidity.

[2022-10-01 08:44] #87 closed

[2022-10-01 08:46] Atharv181 opened #100 "Add Hindi section in Ethereum in different languages"
**Is your feature request related to a problem? Please describe.**
Ethereum in Hindi Language

**Describe the solution you'd like**
Can add this document https://ethereum.org/hi/eth/

[2022-10-01 08:49] mhammadsaani commented on #100
Should I?

[2022-10-01 08:50] atharvadeosthale commented on #100
I want to work on this!

[2022-10-01 08:51] hridaya423 opened #102 "Seperate Text roadmaps & video roadmaps"
**Is your feature request related to a problem? Please describe.**
Seperate Text & Video roadmaps

**Describe the solution you'd like**
There will be 2 different sections for Roadmaps (Text & Video)

**Describe alternatives you've considered**
Null

**Additional context**
Null

[2022-10-01 08:51] Johnnyteck commented on #100
I'm here

[2022-10-01 08:53] FrancescoXX commented on #100
go @Johnnyteck

[2022-10-01 08:55] clairecharles commented on #90
can i work on this?

[2022-10-01 08:56] atharvadeosthale commented on #97
I would like to work on this

[2022-10-01 08:56] mhammadsaani commented on #90
@clairecharles This has been merged!

[2022-10-01 08:58] Atharv181 opened #104 "Add favicon to the website"
We can add the favicon to the website.

[2022-10-01 09:05] FrancescoXX commented on #104
great idea, we can use a temporary one but we currently don't have a logo

[2022-10-01 09:08] #96 closed

[2022-10-01 09:08] hridaya423 commented on #102
I already created a pr for this

[2022-10-01 09:08] FrancescoXX commented on #102
there should be 2 sections:

### Web3 Article roadmaps

....

### Web3 Video Roadmap

Current one

![image](https://user-images.githubusercontent.com/18360871/193402098-b98d2f81-daa9-4c1b-a84d-460b5d4ce2e1.png)

Feel free to be creative on emojis :)

[2022-10-01 09:10] #102 closed

[2022-10-01 09:13] #100 closed

[2022-10-01 09:13] vaibhav-zemo commented on #86
I am willing to work on this if on one is assigned

[2022-10-01 09:14] Johnnyteck commented on #100
you didn't add a label

[2022-10-01 09:14] #82 closed

[2022-10-01 09:14] #74 closed

[2022-10-01 09:15] FrancescoXX commented on #97
go for it :)

[2022-10-01 09:15] FrancescoXX commented on #88
go for it

[2022-10-01 09:16] #94 closed

[2022-10-01 09:16] FrancescoXX commented on #90
well done

[2022-10-01 09:16] #90 closed

[2022-10-01 09:18] hridaya423 opened #108 "Add a Vyper Section"
**Is your feature request related to a problem? Please describe.**
Add a Vyper Section like Solidity and add resources

**Describe the solution you'd like**
Add a Vyper Section like Solidity and add resources

**Describe alternatives you've considered**
Null

**Additional context**
Null

[2022-10-01 09:19] Johnnyteck commented on #88
D you have links to the sessions so I can add or I just add the header

[2022-10-01 09:22] Atharv181 commented on #104
![favicon](https://user-images.githubusercontent.com/73999654/193402575-89cef49b-4388-4c36-8c58-35733560494b.png)

Can we add as a favicon

[2022-10-01 09:23] #97 closed

[2022-10-01 09:23] FrancescoXX commented on #108
makes sense

[2022-10-01 09:24] FrancescoXX commented on #104
FW3

[2022-10-01 09:28] FrancescoXX commented on #104
[favicon_io.zip](https://github.com/FrancescoXX/free-Web3-resources/files/9689987/favicon_io.zip)

[2022-10-01 09:29] #108 closed

[2022-10-01 09:30] FrancescoXX commented on #88
just create the section for now

[2022-10-01 09:34] baroonjha opened #113 "Add Defi hacks Writeups section"
**Is your feature request related to a problem? Please describe.**
 Defi Hacks writeups can help people understand better.So if there will be a all hacks writeups then that will be great.So if we get all the writeups in one place then it will save our time .  [...]

**Describe the solution you'd like**
There are lots of Bug Bounty platform that publish the writeups of the hacks .

[2022-10-01 09:34] mhammadsaani opened #114 "Add web3 roadmap resources in Hindi?"
**Is your feature request related to a problem? Please describe.**
The audience viewing this repository will be from Inida/Pakistan where Native language in Hindi/Urdu (almost similar).

**Describe the solution you'd like**
Add Hindi/Urdu Web3 roadmaps

**Describe alternatives you've considered**
null

**Additional context**
null

[2022-10-01 09:35] #104 closed

[2022-10-01 09:37] hridaya423 opened #118 "Found new roadmap"
**Is your feature request related to a problem? Please describe.**
I want to add a new roadmap: https://roadmap.sh/blockchain

**Describe the solution you'd like**
I want to add a new roadmap: https://roadmap.sh/blockchain

**Describe alternatives you've considered**
Null

**Additional context**
Null

[2022-10-01 10:08] Rishav-12 opened #121 "Inconsistent link formatting in README"
**Describe the bug**
Inconsistent formatting in the README

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the README.md file
2. Scroll down to https://github.com/FrancescoXX/free-Web3-resources#oracles, https://github.com/FrancescoXX/free-Web3-resources#node-providers and https://github.com/FrancescoXX/free-Web3-resources#-file-storage
3. See error: the first line in Oracles and Node

[2022-10-01 10:55] Atharv181 opened #123 "Favicon is not visible"
**Describe the bug**
A clear and concise description of what the bug is.
After adding a favicon still it is not showing (on hosted site). favicon works fine locally.

**To Reproduce**
Steps to reproduce the behavior:
https://francescoxx.github.io/free-Web3-resources/#/

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/7

[2022-10-01 12:25] sushantgwr87 commented on #86
Dark Mode integration using button on right top with a good contrasting theme. It can be set by default as well. Please assign me so that I can start the work. Thank You.

[2022-10-01 13:44] Heismanish opened #126 "Want to add a roadmap for blockchain"
**Is your feature request related to a problem? Please describe.**
I would like to add a blockchain roadmap.

**Describe the solution you'd like**
I would like to add a new blockchain roadmap.
[HERE](https://youtu.be/Lz3m4BI1EfY)

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2022-10-01 17:06] AnshMinchekar opened #128 "[Documentation] Would like to add Alchemy's Road to Web3 under the Learning Platforms and YouTube Channels section."
**Is your feature request related to a problem? Please describe.**
I would like to add Alchemy's Road to Web3 as a learning resource under the Learning Platforms and YouTube Channels section.

**Describe the solution you'd like**
[Alchemy's Road to Web3](https://docs.alchemy.com/docs/welcome-to-the-road-to-web3)
[Alchemy's Road to Web3 YouTube Playlist](https://youtube.com/playlist?list=PLMj8NvODu

[2022-10-01 19:08] VaibhavArora19 opened #130 "Add a Github Repo link"
**Describe the solution you'd like**
The page should have a Github repo link that redirects to this repository.

[2022-10-01 19:09] VaibhavArora19 commented on #130
I would like to work on this.

[2022-10-02 07:22] money8203 opened #133 "Getting Started with Solana-Web3.js"
People should know the basics of any topic they are reading/getting into.

I want to add a link which provides topics like getting started with solana, installation guide upto solana test validator, reference api etc...

[2022-10-02 08:06] money8203 commented on #133
Added Solana Web3 learning path https://github.com/FrancescoXX/free-Web3-resources/pull/134

[2022-10-02 09:23] Aakrut opened #135 "[DOCUMENTATION] Add New YouTube channel"
**Is your feature request related to a problem? Please describe.**
I want to add one YouTube Channel in README.md file

**Describe the solution you'd like**
Channel Link - [Chainlink](https://www.youtube.com/c/chainlink/featured)

**Describe alternatives you've considered**
null

**Additional context**
null

[2022-10-02 10:19] Sanket1308 opened #137 "Add a web3 community"
Add a web3 community

[2022-10-02 10:28] issa-me-sush commented on #72
hey! seems fun to work on! could I please be assigned to this issue ?

[2022-10-02 10:30] yash251 commented on #72
Currently working on it @issa-me-sush

[2022-10-02 12:01] money8203 commented on #133
#134

[2022-10-02 12:11] Rupesh-Darimisetti commented on #86
Hello francesso i cannot find the body with the content available in website how can I get that one to add functionality for modification of theme

[2022-10-02 12:28] sushrutmishra27 commented on #72
Let me know if you need help with it!

[2022-10-02 12:30] sushantgwr87 commented on #86
I am willing to work on this Project. Idea is to add button at top right of the page to switch themes. As you are using Docsify, I will use their default themes of dark and vue.

Kindly assign me to start working on this.

[2022-10-02 12:37] ShivayeModi commented on #137
Please assign me this issue

[2022-10-02 13:04] Rahul-Prasad-07 opened #139 "Add new section : Polygon Development"
### Learn to build Dapps on Polygon
**Is your feature request related to a problem? Please describe.**
- Transaction fees are too high on the Ethereum mainnet.
-  Among these Ethereum L2 scaling solutions, Polygon (formerly Matic) is the leading project. More and more Blockchain apps are being developed on Polygon, and as a Blockchain developer, it's time to get up to date.

**Describe the solutio

[2022-10-02 16:03] VIVEK-SUTHAR opened #141 "Add another Learning Platform"

[2022-10-03 00:08] codewithuddy opened #143 "Add 'Blockchain Architecture - Understanding Monolithic & Modular Blockchains' Segment"
There is no detail whatsoever on the Modular Blockchain architecture

I will add an article on Modular and Monolithic Blockchain structures

Anyone wants to work with me on that?

[2022-10-03 10:05] AmethystCodes opened #145 "Add new project to Blockchain section"
Add Flow Blockchain to list of active blockchains.

[2022-10-03 13:39] yash251 commented on #86
Please assign it to me @FrancescoXX

[2022-10-03 14:40] AyushJain001 opened #148 "Adding Youtube channels."
**Is your feature request related to a problem? Please describe.**
I want to add some more Youtube channels providing free guidance.
some are:

1. Learn Web3DAO
https://youtube.com/c/LearnWeb3DAO

2. Alchemy
https://youtube.com/c/AlchemyPlatform

3. FreeCodeCamp
https://youtube.com/c/Freecodecamp

**Describe the solution you'd like**
Mentioned are some Youtube channel I request to add for more hel

[2022-10-03 18:14] A1965 commented on #86
Hii @FrancescoXX , I can add it, so please can you assign this to me.
Thankyou

[2022-10-03 19:57] #88 closed

[2022-10-03 20:01] #121 closed

[2022-10-03 20:06] #123 closed

[2022-10-03 20:20] IAmTamal opened #150 "Updates : New issue templates using .yml instead of .md 🛠"
## **Is your feature request related to a problem? Please describe.**

Currently we are using `.md` files instead of the brand new issue forms with `.yml` files which makes it more easier to fill in the data and raise an issue. Using the `.md` files can result in folks skipping out important details while making an issue.

## **Describe the solution you'd like**

The solution is to build a new `.y

[2022-10-03 20:38] #86 closed

[2022-10-04 04:53] #130 closed

[2022-10-04 04:53] FrancescoXX opened #154 "Style page broken"
Fix the style of the deployed page

you can find the deployed page here
https://francescoxx.github.io/free-Web3-resources/#/

![image](https://user-images.githubusercontent.com/18360871/193737263-5c909de3-fcc9-4cda-b166-85ca94efcb33.png)

[2022-10-04 09:17] Rahulbaran opened #158 "add meta tags for twitter and facebook cards"
Hi Francesco, Can I add **meta tags** for facebook & twitter cards??

[2022-10-04 10:35] FrancescoXX commented on #158
go for it, but this is a github repository, not a website for now

[2022-10-04 11:07] Rahulbaran commented on #158
I saw a website [link](https://francescoxx.github.io/free-Web3-resources) in repo

[2022-10-04 17:00] yashdev9274 commented on #137
don't worry I'm on it.

[2022-10-04 17:28] pushkaraj2007 commented on #154
What is broken and what needs to be fixed?

Can you please give a bit more information about this?

[2022-10-04 18:15] krau5 opened #159 "Readme adjustments"
Hey there :)
`README` has an extra item in the end of the unordered list of Web3 Roadmaps.
Assign it to me please.

P.S. Can I update the `.gitignore` with IDE preferences as well?

<img width="832" alt="image" src="https://user-images.githubusercontent.com/52201020/193894680-2e8649f9-85f0-40bf-ab0e-0e3a441cc1d8.png">

[2022-10-04 23:22] uday03meh commented on #154
Hi, I think this issue can be closed as it seems to be fixed now.

![image](https://user-images.githubusercontent.com/59679281/193948179-fb70a3bc-76a2-41f8-9911-862928120bb4.png)

[2022-10-05 01:39] inzamamahmad3 opened #164 "New feature in Web3 resources"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-05 03:47] #72 closed

[2022-10-05 04:46] yash251 opened #166 "Same resources in 2 sections"
**2 sections have same resources**
Sections *Identity* and *Ethereum Development Tools* have same resources.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'README.md'
3. Scroll down to 'Identity' section.
4. Remove the following
[code]

[2022-10-05 04:46] yash251 commented on #166
@FrancescoXX please confirm

[2022-10-05 05:15] #137 closed

[2022-10-05 05:39] Atharv181 commented on #133
As PR merged we have to close this issue.

[2022-10-05 07:42] krau5 commented on #159
Uhm... okay, actually, I wanted to close it by myself 😕

[2022-10-05 07:42] #159 closed

[2022-10-05 07:43] krau5 commented on #166
Hey, @yash251, can I be assigned to this issue later when it'll be confirmed?

[2022-10-05 13:45] hrsh22 opened #168 "Tutorials section present twice"
The tutorials section is present twice in the Web3 Resources.

[2022-10-05 13:46] rashmirekhakumari opened #169 "Add login page"
**Your web pages are looking great but i think you should also add login page in right upper corner of the page which makes your web page more real. By doing this you also get data of those students who have ability to learn and build skills but they don't have proper guidance and resources so that in future you can help those students more.**

[2022-10-05 13:47] hrsh22 commented on #168
Hey Francesco, can I merge both the tutorials sections into one?

[2022-10-05 13:55] rashmirekhakumari commented on #169
login page

[2022-10-05 19:20] shubham21155102 opened #171 "there can be use of express js on your website"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-06 16:09] money8203 opened #173 "Improving overall README section"
The readme section is so unattractive and a bit more scary because of all the links  added there .

 It can be improved a lot more by applying some creativity. I can made the user-resource/readme interaction better and beginner friendly.

[2022-10-06 16:19] money8203 opened #174 "Creating a Web3 website of our own"
We can create website of our own where we can provide  all the content related to Web 3 so that people don't have to waste their time clicking different links going to different websites again and again for different web3 technologies, instead we can make our own website where we will put all the resources available and present on google.

This will make people more comfortable and now instead of

[2022-10-08 10:46] ewainy commented on #113
Do you have examples?

[2022-10-08 10:47] ewainy commented on #114
Sounds like a good idea! Do you have these resources?

[2022-10-08 10:49] ewainy commented on #118
As the PR from this issue has been merged, I think we can close this issue now :) Thank you for your contribution @hridaya423

[2022-10-08 10:49] #118 closed

[2022-10-08 10:55] ewainy commented on #126
This resource looks good 👀 I've saved this on my own playlist to watch at a later date! I like that there is focus on frontend also. Please create a PR @Heismanish if you haven't already done so :)

[2022-10-08 10:56] ewainy commented on #126
@AdityaBansal2310 What resource would you like to share? Go ahead and create a PR if this is different from Heismanish's :)

[2022-10-08 11:00] ewainy commented on #133
Thank you for your contribution @money8203 I will close this issue now as your PR has been merged :)

[2022-10-08 11:00] #133 closed

[2022-10-08 11:04] ewainy commented on #135
PR has been closed so will close this issue

[2022-10-08 11:04] #135 closed

[2022-10-08 11:06] ewainy commented on #141
As this PR has been merged, I will close this issue now. Thank you for your contribution @VIVEK-SUTHAR :)

[2022-10-08 11:06] #141 closed

[2022-10-08 11:13] ewainy commented on #150
Oh wow! This sounds so good :)

[2022-10-08 11:46] baroonjha commented on #113
Like after hacks few people write blog on it how it happened ,what the reason ,so if we just provide the link of that blog at one place ,will be good I think.

[2022-10-08 12:12] IAmTamal commented on #150
Yes - a better feature to keep stuffs organized indeed. Will start working on it, once i know i am allowed to

[2022-10-08 12:13] Heismanish commented on #126
Done with PR @ewainy  at #176 and thanks for the opportunity.

[2022-10-09 05:19] FrancescoXX commented on #114
solved by #117

[2022-10-09 05:19] #114 closed

[2022-10-09 05:20] FrancescoXX commented on #126
done!

[2022-10-09 05:20] #126 closed

[2022-10-09 05:21] FrancescoXX commented on #128
go for it

[2022-10-09 05:24] FrancescoXX commented on #139
yes open an issue to create the section

[2022-10-09 05:24] #139 closed

[2022-10-09 05:27] FrancescoXX commented on #145
go for it

[2022-10-09 05:29] FrancescoXX commented on #148
duplicated and freecodecamp is too generic

[2022-10-09 05:29] #148 closed

[2022-10-09 05:31] FrancescoXX commented on #150
sounds very cool! assigned

[2022-10-09 05:31] FrancescoXX commented on #154
solved

[2022-10-09 05:31] #154 closed

[2022-10-09 05:33] FrancescoXX commented on #158
yes that's deployed directly by github. btw there is an HTML file you can modify

[2022-10-09 05:34] FrancescoXX commented on #164
opened by mistake

[2022-10-09 05:34] #164 closed

[2022-10-09 05:36] FrancescoXX commented on #166
correct @yash251 , they should be removed

[2022-10-09 05:39] FrancescoXX commented on #168
they are 2 sub-sections both for solidity and vyper, we can change the title accordingly to make it more clear

e.g.
Solidity tutorials

Vyper tutorials

[2022-10-09 05:40] abhinow01 commented on #166
hey @FrancescoXX , i am new to contributing to opensource , i would love to work on this issue , can this be assigned to me ?

[2022-10-09 05:40] FrancescoXX commented on #169
no auth needed for now, but we can add more links to further guidance

[2022-10-09 05:40] #169 closed

[2022-10-09 05:40] yash251 commented on #166
Also the youtube channels section is repeated

[2022-10-09 05:41] FrancescoXX commented on #171
not for now. thank you

[2022-10-09 05:41] #171 closed

[2022-10-09 05:42] FrancescoXX commented on #173
hi @money8203 , you are right and the goal, for now, is just to have the resources. but of course, you can work on something more appealing.

[2022-10-09 05:43] FrancescoXX commented on #174
this is a great idea for the future! let's work on this!

[2022-10-09 05:44] yash251 commented on #166
@FrancescoXX fixed. please check

[2022-10-09 06:07] AnshMinchekar opened #179 "Would like to add a link to this repository for the website."
**Is your feature request related to a problem? Please describe.**
I would like to add the repository's link on the website.

**Describe the solution you'd like**
When you click on "Free Web3 Resources 🚀" on the website, it should re-direct you to the GitHub Repository.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've cons

[2022-10-09 06:08] Faizan711 opened #180 "Add a new resource for a free Web3.js and Blockchain practical course"
I have a new free resource which teaches blockchain and web3.js from beginner to intermediate level through practical coding.
Can i merge it with the repo?

[2022-10-09 06:31] #128 closed

[2022-10-09 06:32] FrancescoXX opened #181 "Add Code Snippets Section"
**Is your feature request related to a problem? Please describe.**
we don't have code samples in the repository

**Describe the solution you'd like**
create a folder called code-snippets and add a file as an example with any solidity code.

[2022-10-09 06:36] FrancescoXX opened #182 "Remove the duplicated vietnamese sections"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of the problem
Remove the Vietnamese sections

![image](https://user-images.githubusercontent.com/18360871/194741766-8361c097-017a-4ab4-9962-3be06bf16267.png)

[2022-10-09 06:36] AnshMinchekar commented on #181
I would like to take on this task.

[2022-10-09 06:39] AnshMinchekar opened #183 "[Documentation] Would like to add Alchemy University under Resources section"
**Is your feature request related to a problem? Please describe.**
I would like to add Alchemy University under the resources section.

[2022-10-09 06:44] FrancescoXX opened #184 "create a folder for presentation slides + move 2 files inside it"
**Is your feature request related to a problem? Please describe.**
we have slides but they are in the root folder

**Describe the solution you'd like**
Please create a folder named "presentations" and move these files there:

- https://github.com/FrancescoXX/free-Web3-resources/blob/main/SLIDES_IntroToSolidity.pdf
- https://github.com/FrancescoXX/free-Web3-resources/blob/main/intro-to-solidity.md

[2022-10-09 06:54] FrancescoXX opened #185 "Add a wasy to redirect from the website to the GitHub repository"
**Is your feature request related to a problem? Please describe.**
the generated website doesn't redirect to the GitHub repo

**Describe the solution you'd like**
out a GitHub icon somewhere in the file at the top to redirect to the GitHub repository

**Describe alternatives you've considered**
the icon and the positioning provided are just an example

![image](https://user-images.githubuserconten

[2022-10-09 06:56] Rishav-12 commented on #185
I want to work on this @FrancescoXX

[2022-10-09 06:57] Manujdixit commented on #184
@FrancescoXX can you please add hacktoberfest label.

[2022-10-09 06:57] vaibhav0726 commented on #184
can you assign me this issue?

[2022-10-09 06:58] AnshMinchekar commented on #182
Will grab this one!

[2022-10-09 06:59] FrancescoXX commented on #166
fixed by #177

[2022-10-09 06:59] #166 closed

[2022-10-09 07:01] FrancescoXX commented on #182
go  for it!

[2022-10-09 07:03] FrancescoXX commented on #184
assigned to @Manujdixit

[2022-10-09 07:03] FrancescoXX commented on #183
go for it!

[2022-10-09 07:05] hrsh22 commented on #168
Okay I can do it. Can you please assign it to me?

[2022-10-09 07:06] FrancescoXX commented on #182
fixed by #186

[2022-10-09 07:06] #182 closed

[2022-10-09 07:07] Manujdixit commented on #184
both files are same.
by second file you may mean https://github.com/Manujdixit/free-Web3-resources/blob/main/FINALHOW%20TO%20LEARN%20WEB3.pdf

[2022-10-09 07:08] FrancescoXX commented on #180
we are merging only top-level free resources but submit your link.

[2022-10-09 07:11] FrancescoXX opened #187 "remove duplicate: Web3 roadmaps Hindi + blog section"
**Describe the bug**
We have a duplicated section to be removed

Remove "Web3 roadmaps Hindi with only one link and the blog section below"

**Screenshots**
![image](https://user-images.githubusercontent.com/18360871/194743036-a65e6125-938a-4d5e-a313-e574a02a076d.png)

[2022-10-09 07:12] DivvSaxena commented on #187
assign me

[2022-10-09 07:14] FrancescoXX commented on #187
go

[2022-10-09 07:14] FrancescoXX commented on #185
go!

[2022-10-09 07:21] FrancescoXX opened #191 "⚒️ Restructure the Etherum Section"
**Is your feature request related to a problem? Please describe.**
the Ethereum Section is not structured well

**Describe the solution you'd like**
- change the title from "Ethereum Free resources" to just Ethereum
- move "Ethereum Languages", "Solidity", "Vyper" links all below the Ethereum Section

The current situation is in the screenshot. WE want just one Ethereum Section
![image](https://us

[2022-10-09 07:22] FrancescoXX commented on #168
closing this. please refer to #191

[2022-10-09 07:22] #168 closed

[2022-10-09 07:24] DivvSaxena commented on #187
e9c81a526eafde3ed7c0e2d2fde6e55688d87ea6

[2022-10-09 07:25] AnshMinchekar commented on #191
Will take this one.

[2022-10-09 07:27] DivvSaxena commented on #187
d6a6b3ded063ba095c00c568e386b15a0f608aab

[2022-10-09 07:32] #185 closed

[2022-10-09 07:37] FrancescoXX commented on #187
@A-ravi assigned to you

[2022-10-09 07:41] FrancescoXX opened #194 "Test vercel deployment on your fork and bring results"
please fork this repo and try to deploy it with Vercel.

Show the output

The pr should include necessary changes to have the project deployed to Vercelk if any

[2022-10-09 07:44] AnshMinchekar commented on #194
I got this.

[2022-10-09 07:44] FrancescoXX opened #195 "New resources: Blocktrain, Embark, create-eth-app"
add New resources: Blocktrain, Embark, create-eth-app

[2022-10-09 07:44] FrancescoXX commented on #195
assigned to @pruthvirajjadhav1

[2022-10-09 07:47] FrancescoXX commented on #195
closed by #193

[2022-10-09 07:47] #195 closed

[2022-10-09 07:47] AnshMinchekar commented on #194
![image](https://user-images.githubusercontent.com/99464146/194744514-82d140ba-728f-44ce-97c8-b811b8f23797.png)

[2022-10-09 07:49] AnshMinchekar commented on #194
https://free-web3-resources.vercel.app/#/

[2022-10-09 07:53] FrancescoXX commented on #194
Thank you so much, closing this issue

[2022-10-09 07:53] #194 closed

[2022-10-09 07:56] FrancescoXX opened #196 "Use a single html file"
**Is your feature request related to a problem? Please describe.**
We have 2 HTML files in the repository:
- https://github.com/FrancescoXX/free-Web3-resources/blob/main/index.html
- https://github.com/FrancescoXX/free-Web3-resources/blob/main/FREE%20Web3%20Resources%20(2).html

**Describe the solution you'd like**
Having a single file for now

**Describe alternatives you've considered**
A clear a

[2022-10-09 07:57] FrancescoXX commented on #191
go!

[2022-10-09 07:58] FrancescoXX commented on #184
yes perfect

[2022-10-09 08:02] FrancescoXX opened #197 "Add YouTube Channels descriptions"
**Is your feature request related to a problem? Please describe.**
Th YouTube channels section is without any description

**Describe the solution you'd like**
Please add a short description, also indicating if the channel is WEb3 focused or it has just a section or a single video on it

**Additional context**
![image](https://user-images.githubusercontent.com/18360871/194745084-60ed848e-22d5-43e6

[2022-10-09 08:03] DivvSaxena commented on #197
Will Take it

[2022-10-09 08:03] A-ravi commented on #187
done with #188
removed duplicate hindi roadman and blog section

[2022-10-09 08:06] FrancescoXX opened #198 "Run a grammar check on the whole Readme.md."
**Describe the bug**
find typos and run a grammar check on the whole Readme.md

[2022-10-09 08:09] jsvigneshkanna commented on #198
Hi @FrancescoXX ,
I would like to work on this

[2022-10-09 08:23] FrancescoXX opened #202 "⚡Turn the project into a Next.js project!"
**Is your feature request related to a problem? Please describe.**
Let's bring the Free Web3 Project to a new level by turning it into a Next.js project

**Describe the solution you'd like**
integrate Next.js into the project

**please fork this repo locally and integrate the current files**

**Additional context**
Please take this issue only if you are familiar with Next.js

[2022-10-09 08:26] Sagar191711 commented on #196
please assign it to me !

[2022-10-09 08:32] FrancescoXX commented on #202
after we deploy all the info in the NExt.js project, we will call this version 1.0.0

[2022-10-09 08:43] money8203 commented on #173
@FrancescoXX Sure ! will do both side by side !

[2022-10-09 08:43] DivvSaxena commented on #197
Made A PR

[2022-10-09 08:43] gitansh0204 commented on #196
please assign it to me

[2022-10-09 08:43] DivvSaxena commented on #197
[gh pr checkout 204](url)

[2022-10-09 08:46] gitansh0204 commented on #197
assign this to me

[2022-10-09 08:47] #198 closed

[2022-10-09 08:50] money8203 commented on #174
@FrancescoXX indeed !

[2022-10-09 08:52] DivvSaxena commented on #197
It is merged

[2022-10-09 08:53] FrancescoXX opened #205 "Add Description on Open Source projects 1/2"
**Is your feature request related to a problem? Please describe.**
Open Source projects have no description

**Describe the solution you'd like**
Please add a description to the first half of the Open source Projects

from A to "Holochain"

![image](https://user-images.githubusercontent.com/18360871/194747402-117ed172-6a6f-44e9-8ac6-ca6e003770f1.png)

[2022-10-09 08:54] DivvSaxena commented on #205
assign it to me

[2022-10-09 08:54] gitansh0204 commented on #205
assign it to me

[2022-10-09 08:56] FrancescoXX opened #206 "Add Description on Open Source projects 2/2"
Is your feature request related to a problem? Please describe.
Open Source projects have no description

Describe the solution you'd like
Please add a description to the second half of the Open source Projects

from Hyperledger to the ends

![image](https://user-images.githubusercontent.com/18360871/194747521-9117465a-846e-4d32-bf2a-1fa79623e407.png)

[2022-10-09 08:56] DivvSaxena commented on #206
Not greedy ......

[2022-10-09 08:56] gitansh0204 commented on #206
assign it to me

[2022-10-09 08:57] FrancescoXX opened #207 "Add missing Web3 roadmaps (Article/Blog) have no description"
**Is your feature request related to a problem? Please describe.**
Some Web3 roadmaps have no description

**Describe the solution you'd like**
Please add the description to the missing ones

![image](https://user-images.githubusercontent.com/18360871/194747612-a4efab11-b43d-4dfe-a396-2660fc9f3cb0.png)

[2022-10-09 09:00] money8203 commented on #174
I've some frontend designs for the website i am working on, will show you when completed.
                                     Also you can assign me a role if you wish :)

[2022-10-09 09:00] FrancescoXX opened #208 "Add missing Web3 roadmaps (Video) have no description"
Is your feature request related to a problem? Please describe.
Some Web3 roadmaps have no description

Describe the solution you'd like
Please add the description to the missing ones

![image](https://user-images.githubusercontent.com/18360871/194747714-78459653-e549-4745-ad42-a672f4436c9f.png)

[2022-10-09 09:02] vaibhav0726 commented on #208
assign it to me

[2022-10-09 09:03] FrancescoXX commented on #187
cool

[2022-10-09 09:03] #187 closed

[2022-10-09 09:05] FrancescoXX commented on #207
done by #199

[2022-10-09 09:05] #207 closed

[2022-10-09 09:10] FrancescoXX commented on #191
fixed by #200

[2022-10-09 09:10] #191 closed

[2022-10-09 09:11] FrancescoXX commented on #181
fixed by #189

[2022-10-09 09:11] #181 closed

[2022-10-09 09:12] FrancescoXX commented on #173
we decided to turn this into a  Next.js project, so closing this as merged into #202

We will discuss the style once we merge it.

[2022-10-09 09:12] #173 closed

[2022-10-09 09:13] FrancescoXX commented on #183
fixed by #199

[2022-10-09 09:13] #183 closed

[2022-10-09 09:15] FrancescoXX commented on #179
not clear what do you mean

[2022-10-09 09:18] FrancescoXX commented on #174
dependant on #202 first

[2022-10-09 09:24] FrancescoXX commented on #202
not required to have the same style or dark/light mode

[2022-10-09 09:28] DivvSaxena commented on #205
Made the PR

[2022-10-09 09:30] jsvigneshkanna opened #211 "Different blockchain/ web3 coin's whitepaper"
**Is your feature request related to a problem? Please describe.**
This is a new section feature

**Describe the solution you'd like**
We can add new section called blockchain whitepaper which have official docs/ whitepapers from different coin orgs

**Additional context**
This would Increase the reading of official docs from orgs

[2022-10-09 09:31] FrancescoXX commented on #208
fixed by #209

[2022-10-09 09:31] #208 closed

[2022-10-09 09:31] Rahulbaran commented on #158
Okay, I am gonna add this soon.

[2022-10-09 09:32] FrancescoXX commented on #211
I like this idea, but I want the section being divided by Blockchain.

We can add issues for missing whitepapers in relative Blockchain sections

[2022-10-09 09:32] #211 closed

[2022-10-09 09:35] FrancescoXX commented on #205
fixed by #210

[2022-10-09 09:35] #205 closed

[2022-10-09 09:36] DivvSaxena commented on #197
#197

[2022-10-09 09:37] vaibhav0726 opened #212 "Wrong placement of github logo"
why github logo in the left list?
![image](https://user-images.githubusercontent.com/89084390/194749419-d364f70e-9fcc-4d06-bbda-7fc01c47507f.png)

[2022-10-09 09:37] #197 closed

[2022-10-09 09:40] vaibhav0726 commented on #208
you didn't add hacktoberfest-accepted to #209 pr @FrancescoXX

[2022-10-09 09:43] FrancescoXX commented on #212
it's to redirect to the GitHub repository from the website. IT can be improved but we implemented the functionality

[2022-10-09 09:43] #212 closed

[2022-10-09 09:46] vaibhav0726 commented on #212
so it is ok
![image](https://user-images.githubusercontent.com/89084390/194749858-01cd1f24-0ac5-4f73-b701-1eba7dbf94b8.png)

[2022-10-09 09:48] FrancescoXX commented on #184
Updated files to add

[2022-10-09 09:54] FrancescoXX opened #213 "Move the languages in the "Ethereum in different languages section""
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
move the Portuguese to Vietnamese section under "Ethereum in different languages"

![image](https://user-images.githubusercontent.com/18360871/194750190-da66a149-ef9a-4c3d-96e0-66b81b56fa72.png)

![image](https://user-images.githubusercontent.com/18360871/194750065-60b38dac-ee93-4ea1-8f35-cba71

[2022-10-09 09:55] DivvSaxena commented on #213
will take it

[2022-10-09 09:57] FrancescoXX commented on #213
not valid for hacktoberfest, but still valid fo the project!

[2022-10-09 10:02] FrancescoXX opened #214 "remove the additional lines in "Ethereum" section"
**Is your feature request related to a problem? Please describe.**
the Ethereum section has additional lines

**Describe the solution you'd like**
remove the additional lines to make it look like the rest of the project

![image](https://user-images.githubusercontent.com/18360871/194750309-61185c40-f85f-44af-8750-efa4fdb1b29c.png)

[2022-10-09 10:14] DivvSaxena commented on #213
Made the PR #215

[2022-10-09 10:16] #213 closed

[2022-10-09 10:40] vaibhav0726 commented on #214
Assign it to me.

[2022-10-09 11:14] Faizan711 commented on #180
sure

[2022-10-09 11:24] #180 closed

[2022-10-09 11:34] #206 closed

[2022-10-09 12:48] Manujdixit commented on #184
@FrancescoXX check the pr.

[2022-10-09 13:46] AnshMinchekar commented on #179
Oh, it has already been addressed/fixed in issued #185

[2022-10-09 13:46] #179 closed

[2022-10-09 15:29] Rahulbaran commented on #196
Francesco, Why is there two html fles??

[2022-10-09 16:31] Wra8th commented on #202
Is it supposed to be developed from scratch or have you provided some code to work on?

[2022-10-09 19:13] money8203 commented on #202
@Wra8th you can work on it from scratch and suggest your ideas !

[2022-10-09 19:19] ewainy opened #230 "Remove duplicates under Solana"
These resources are listed twice in the README under the Solana section:

[Complete Guide to Full Stack Solana Development by Nader Dabit](https://dev.to/edge-and-node/the-complete-guide-to-full-stack-solana-development-with-react-anchor-rust-and-phantom-3291)
[How to Mint an NFT on Solana](https://www.quicknode.com/guides/web3-sdks/how-to-mint-an-nft-on-solana)

I will remove now.

[2022-10-10 08:47] #158 closed

[2022-10-10 14:50] ItzMeAditya commented on #184
@FrancescoXX can you assign this to me ?

[2022-10-10 16:02] MadhuSaini22 opened #237 "Index for ReadMe.md"
**Is your feature request related to a problem? Please describe.**
While looking on the Readme file, I have to scroll a lot, which is bad user experience.

**Describe the solution you'd like**
We can make an index for whole Readme file so that user can directly look on to each section of Readme.

@FrancescoXX , kindly assign this task to me, want to work on this with Hacktoberfest2022 label

[2022-10-10 19:15] stef-codes commented on #143
Check these out!

- I have a short article about this topic focused on Celestia: https://stefcodes.hashnode.dev/what-is-celestia-why-should-i-care
- This post is from Fuel: https://fuel-labs.ghost.io/beyond-monolithic-the-modular-blockchain-paradigm/

[2022-10-10 19:48] ewainy commented on #143
Nice resources @stef-codes 💖

[2022-10-10 19:50] ewainy commented on #184
As the PR for this issue has been merged, I am closing this now.

[2022-10-10 19:50] #184 closed

[2022-10-10 20:04] ewainy commented on #237
Is this like a table of contents? I think this would look really nice if so 😊

[2022-10-11 03:08] MadhuSaini22 commented on #237
Yes, it's kind of table of contents :)
Do assign this task to me

[2022-10-11 03:52] FrancescoXX commented on #202
@Yuvrajchandra this looks interesting, but can we add more functionalities later?

[2022-10-11 03:53] FrancescoXX commented on #237
hi @MadhuSaini22 , assigned, thanks!

[2022-10-11 16:13] #230 closed

[2022-10-11 16:25] #150 closed

[2022-10-11 16:33] FrancescoXX commented on #174
I assigned you this one @money8203 , the website should be done using Next.js

[2022-10-11 16:36] FrancescoXX opened #243 "add a polygon section"
### Is your feature request related to a problem? Please describe.

we are missing a "Polygon" with content focused on learning Polygon blockchain

### Describe the solution you'd like

 add a section with the title Polygon and using # before it

### Describe alternatives you've considered

add one relevant resource to get the hacktoberfest contribution

### Additional context

_No response_

[2022-10-11 16:39] DivvSaxena commented on #243
Assign it to  me

[2022-10-11 16:39] FrancescoXX opened #244 "Add a mediakit folder and copy the banner and the favicon foles into it"
### Is your feature request related to a problem? Please describe.

create a folder called "mediakit" at the root level

- COPY (don't move) 2 files:
- https://github.com/FrancescoXX/free-Web3-resources/blob/main/favicon.ico
- https://user-images.githubusercontent.com/18360871/162364470-56cc28da-d50c-426f-82a4-7ea06234d4bf.png

### Describe the solution you'd like

having a mediakit folder and the

[2022-10-11 16:42] FrancescoXX opened #245 "Add one more code snippet 1/4"
### Is your feature request related to a problem? Please describe.

we have a folder called "code-snippets"

we have few files into it

### Describe the solution you'd like

add one more snippets file in this folder with proper comments and the file name
https://github.com/FrancescoXX/free-Web3-resources/tree/main/code-snippets

### Describe alternatives you've considered

_No response_

### Addit

[2022-10-11 16:42] gitansh0204 commented on #245
assign it to me

[2022-10-11 16:43] FrancescoXX opened #246 "Add one more code snippet 2/4"
### Is your feature request related to a problem? Please describe.

we have a folder called "code-snippets"

we have a few files in it

### Describe the solution you'd like

add one more snippets file in this folder with proper comments and the file name
https://github.com/FrancescoXX/free-Web3-resources/tree/main/code-snippets

### Describe alternatives you've considered

_No response_

### Addit

[2022-10-11 16:44] FrancescoXX opened #247 "Add one more code snippet 3/4"
### Is your feature request related to a problem? Please describe.

we have a folder called "code-snippets"

we have a few files in it

### Describe the solution you'd like

add one more snippets file in this folder with proper comments and the file name
https://github.com/FrancescoXX/free-Web3-resources/tree/main/code-snippets

### Describe alternatives you've considered

_No response_

### Addit

[2022-10-11 16:44] FrancescoXX opened #248 "Add one more code snippet 4/4"
### Is your feature request related to a problem? Please describe.

we have a folder called "code-snippets"

we have a few files in it

### Describe the solution you'd like

add one more snippets file in this folder with proper comments and the file name
https://github.com/FrancescoXX/free-Web3-resources/tree/main/code-snippets

### Describe alternatives you've considered

_No response_

### Addit

[2022-10-11 16:46] FrancescoXX commented on #113
please provide an example link

[2022-10-11 17:08] Atharv181 opened #249 "Adding blog"
### 📚 Documentation

I have written 3 blogs on blockchain if you think that it is helpful then we can add those in resources.

Please have a look on these blogs.
`https://atharvbobade.hashnode.dev/blockchain-concepts-used-to-createsecure-blockchain`
`https://atharvbobade.hashnode.dev/blockchain-evolution-of-web-30-and-some-concepts-of-blockchain`
`https://atharvbobade.hashnode.dev/working-of-block

[2022-10-11 17:11] DivvSaxena commented on #243
#250

[2022-10-11 17:32] FrancescoXX commented on #249
this should not be a self-promo project

[2022-10-11 17:34] Atharv181 commented on #249
Yes definitely but thought this would be helpful
No issues 👍

[2022-10-11 17:34] #249 closed

[2022-10-11 17:34] FrancescoXX opened #251 "Add descriptions on Solana Articles"
### Is your feature request related to a problem? Please describe.

Solana resources don't have a short description

![image](https://user-images.githubusercontent.com/18360871/195160624-2db3aa0a-1a46-4e97-a4cb-103d0093af43.png)

### Describe the solution you'd like

add a concise description on Solana articles using Markdown

### Describe alternatives you've considered

_No response_

### Additio

[2022-10-11 17:35] FrancescoXX commented on #243
closed by #250

[2022-10-11 17:35] #243 closed

[2022-10-11 17:35] DivvSaxena commented on #251
assign it to me

[2022-10-11 17:35] FrancescoXX commented on #196
@Rahulbaran not sure, checks should be done locally

[2022-10-11 18:17] money8203 commented on #174
Sure !

[2022-10-12 03:32] MadhuSaini22 opened #254 "Footer should be there on website"
### Is your feature request related to a problem? Please describe.

In this website repo, we don't have footer.
Footer completes the whole website, so it's nice to have footer on our website.

### Describe the solution you'd like

I think, we can a footer for our website.

### Describe alternatives you've considered

@FrancescoXX , would love to work on this task, kindly assign this task to me.

#

[2022-10-12 13:20] Paskalouis opened #257 "Add Kachingnft.io as new Gaming NFT Marketplace"
### 📚 Documentation

I want to add https://www.kachingnft.io/ as one of the NFT marketplace, it is NFT marketplace specialized in gaming and using Seaport as the base.

### Add relevant screenshot or video (if any)

![image](https://user-images.githubusercontent.com/5112688/195353629-06d9001b-a3f3-48e1-bc0e-c2ff5b341090.png)

### Additional context

_No response_

[2022-10-12 18:26] Rahul-Prasad-07 opened #261 "Add Job Boards"
### Is your feature request related to a problem? Please describe.

I want add job bords that helps developers to find jobs

### Describe the solution you'd like

## Job Boards
- I want to add job bords
   - [Angel.co](https://angel.co/web3)
   - [BlockAce](https://blockace.io/)
   - [NoDesk](https://nodesk.co/remote-jobs/blockchain-cryptocurrency-jobs/)
   - [CryptoDevHub](https://cryptodevhub.io

[2022-10-12 18:41] #237 closed

[2022-10-12 22:32] nehal2210 commented on #246
Assign it to me

[2022-10-12 22:32] nehal2210 commented on #247
Assign it to me Please.

[2022-10-12 22:33] nehal2210 commented on #248
Assign it to me.

[2022-10-12 22:37] nehal2210 opened #263 "Add Blockchain Course in Urdu"
### 📚 Documentation

Need to add amazing blockchain course in urdu which gains popularity among urdu speakers.

### Add relevant screenshot or video (if any)

_No response_

### Additional context

_No response_

[2022-10-13 01:58] Eugene44-hub opened #268 "Back to top"
### Have you checked if the same issue has already been raised ?

- [X] I have checked and didn't find similar issue

### Describe the bug

Back to top button not working properly. When clicked it takes users to 404 page

### Steps to reproduce

1. Go to 'https://francescoxx.github.io/free-Web3-resources/#/'
2. Scroll down to bottom
3. Click on back to top button
4. Error of 404 shows up

### Expe

[2022-10-13 02:04] Eugene44-hub commented on #268
Please can you kindly assign this to me🙏🙏

[2022-10-13 02:10] Eugene44-hub opened #269 "Too many back to top button"
### Is your feature request related to a problem? Please describe.

Almost each sections contains a back to top button

### Describe the solution you'd like

Creating a fixed 'back to top' button on the webpage would be nice instead of having it in all sections

### Describe alternatives you've considered

The back to top button should be shown when user's scroll away from the top of the webpage a

[2022-10-13 02:14] Eugene44-hub commented on #269
If this is considered and approved can you kindly assign to me.

[2022-10-13 16:28] #245 closed

[2022-10-13 16:29] #263 closed

[2022-10-13 16:29] #246 closed

[2022-10-13 16:34] Adharen commented on #254
Hii please assign me this issues

[2022-10-13 16:35] #248 closed

[2022-10-13 16:36] #247 closed

[2022-10-13 17:18] baroonjha commented on #113
https://pentester.land/list-of-bug-bounty-writeups.html this is the list of writeups of web2 bug .but if we can make this for  web3 bug .

[2022-10-16 06:55] #257 closed

[2022-10-16 06:58] #268 closed

[2022-10-16 07:04] #202 closed

[2022-10-16 07:05] FrancescoXX commented on #269
done

[2022-10-16 07:16] FrancescoXX opened #274 "⚡Turn the project into a Docusaurus project!"
### Is your feature request related to a problem? Please describe.

now the project is mainly a .md file.

We want to bring this to the Next level, by using docusaurus.

For now we just need an empty project on a branch called "docusaurus"

you can start here
https://docusaurus.io/docs

### Describe the solution you'd like

create an empty docusaurus project inside the repository and test it

it s

[2022-10-16 07:17] FrancescoXX commented on #113
good idea we can create a section for now

[2022-10-16 07:18] FrancescoXX commented on #143
@codewithuddy do you still want this assigned dot you?

[2022-10-16 07:19] FrancescoXX commented on #145
@AmethystCodes do you still want to work on this?

[2022-10-16 07:21] FrancescoXX commented on #174
@money8203 , we changed idea and we want this with docusaurus, so closing this issue, you can check the other issue

[2022-10-16 07:21] #174 closed

[2022-10-16 07:21] FrancescoXX commented on #196
@Sagar191711 do you still want to work on this?

[2022-10-16 07:22] #251 closed

[2022-10-16 07:23] FrancescoXX commented on #254
please refer to #274 . it will contain a footer

[2022-10-16 07:23] FrancescoXX commented on #254
go for it @MadhuSaini22

[2022-10-16 07:24] FrancescoXX commented on #269
we can close this one as we will do this #274

[2022-10-16 07:24] #269 closed

[2022-10-16 07:25] FrancescoXX commented on #261
this website is focused on resources to learn for now, but let's keep an eye on this

[2022-10-16 07:30] stef-codes commented on #143
@FrancescoXX I can take it now and he can add more when he's ready

[2022-10-16 07:33] Rahul-Prasad-07 commented on #261
Hey @FrancescoXX

Do i have to add job boards ? Or Modified my pr and find learning resources from them ?

[2022-10-16 08:15] #244 closed

[2022-10-16 20:17] codewithuddy commented on #143
@FrancescoXX ofcourse I still do want to take on the issue assigned to me, tryna fix an issue with my PC hence the delay...

@stef-codes you wanna take on it?

[2022-10-16 20:19] codewithuddy commented on #143
Also @FrancescoXX I do not understand so well the assigned issue that I am to handle, can you explain more on what exactly I am to do?

So I can get it done as soon as I can log my github account on a public PC?

[2022-10-17 07:19] ShorunTech opened #277 "[FEATURE] README.md"
### Is your feature request related to a problem? Please describe.

In the readme.md section the index part the list of content there some list are broken not linking to the full details of the content.

![Screenshot (220)](https://user-images.githubusercontent.com/61280687/196112031-aa9bc6bf-f7f9-4e54-8bee-4ad76b3ace22.png)
![Screenshot (222)](https://user-images.githubusercontent.com/61280687/19

[2022-10-17 07:28] ShorunTech commented on #277
I can work on this if assign to me.

[2022-10-18 08:36] Madhan-404 opened #279 "Resources for Tezos blockchain"
### Is your feature request related to a problem? Please describe.

I don't find any resources to **learn** and **develop** on the **Tezos blockchain**. I see tezos in the list of active blockchains, but not any resources.

### Describe the solution you'd like

I recently participated and worked on the tezos blockchain for a hackathon and would love to add resources to this mega Web3 resources Rep

[2022-10-19 07:14] Adi-Abhishek commented on #274
Hey! I want to work on this but don't know how to start?
Can you  guide me for these?

[2022-10-19 17:07] Atharv181 commented on #113
Looks great we gather such blogs and resources

[2022-10-24 16:57] Meharab commented on #145
@FrancescoXX i can contribute to flow blockchain resources.

[2022-10-25 12:34] ardasevinc commented on #274
Hey Francesco! I'm currently working on this.

[2022-10-26 02:26] AmethystCodes commented on #145
Yes, I'd still like to add this.

[2022-10-26 06:48] ThomasCode92 opened #292 "FreeCodeCamp course"
### Is your feature request related to a problem? Please describe.

Can I add a FreeCodeCamp resource to the README.md file.

### Describe the solution you'd like

I would like to add this YouTube video: https://www.youtube.com/watch?v=gyMwXuJrbJQ.
It's a 32 hour course about Blockchain, Solidity, and Full Stack Web3 Development with JavaScript.

### Describe alternatives you've considered

_No re

[2022-10-28 07:34] bytesofbec commented on #196
Can I please get assigned this issue?

[2022-10-30 17:28] #279 closed

[2022-10-30 17:31] FrancescoXX commented on #292
we are not focused on a single platform, but rather on tutorials on different blockchains. that video is already in the available resources

[2022-10-30 17:31] #292 closed

[2022-10-30 17:31] FrancescoXX commented on #274
hey @ardasevinc , I can make you a maintainer of the project and see if that works.

[2022-10-30 17:35] #254 closed

[2022-10-30 17:35] FrancescoXX commented on #196
closing this as we will just restyle the whole website using Docusaurus

[2022-10-30 17:35] #196 closed

[2022-10-30 17:36] FrancescoXX commented on #277
go for it @ShorunTech

[2022-10-30 17:36] FrancescoXX commented on #261
closing this as we are just focused on the learning process for now, not finding a job

[2022-10-30 17:36] #261 closed

[2022-10-30 17:37] ShorunTech commented on #277
Thank you @FrancescoXX

[2022-10-30 17:37] FrancescoXX commented on #143
just add the section

[2022-10-30 17:37] ardasevinc commented on #274
Sure! That'd be awesome.

[2022-10-31 12:16] Atharv181 opened #299 "Center the polygon image"
### Have you checked if the same issue has already been raised ?

- [X] I have checked and didn't find similar issue

### Describe the bug

Can we align image of polygon in center because all other images are centered except polygon one.

### Steps to reproduce

1. Go to Readme'
2. Scroll down to 'Polygon Section'
3. See error

### Expected behavior

Polygon image will be center allign

### Screen

[2022-11-03 14:46] satyamkale27 commented on #299
I want to work on this issue please assign to me.

[2022-11-06 05:35] AshwanthramKL opened #305 "Fix minor typo in Readme markdown code"
### 📚 Documentation

Under the subsection Youtube channels, the link to Francesco's channel appears at the same line as that of the previous channel.
Hence it is usually overlooked as people don't usually read till the end of the line.

### Add relevant screenshot or video (if any)

![before](https://user-images.githubusercontent.com/71945723/200155810-33bda879-c8ee-4ed3-ad38-56267757b99f.jpg)

##

[2022-11-06 16:43] ardasevinc opened #309 "Add yarn related entries to gitignore"
## The problem

@FrancescoXX Switched to yarn for docusaurus'. Now we have these files that will be committed when someone runs `yarn` or `yarn install` in the project root
![yarn files](https://user-images.githubusercontent.com/42278637/200183171-32163351-dd23-4d76-8416-ba3505dd7db3.png)

In my opinion, `.yarn/` and `.yarnrc.yml` shouldn't be committed. `yarn.lock` however, should be committed. I

[2022-11-06 16:45] FrancescoXX commented on #309
please handle this on the .gitignore file

[2022-11-06 16:45] FrancescoXX commented on #274
done!

[2022-11-06 16:45] #274 closed

[2022-11-06 16:46] FrancescoXX commented on #299
done

[2022-11-06 16:46] #299 closed

[2022-11-06 16:46] FrancescoXX commented on #305
done

[2022-11-06 16:46] #305 closed

[2022-11-06 16:47] FrancescoXX commented on #277
closing this as we are migrating to docusaurus

[2022-11-06 16:47] #277 closed

[2022-11-06 16:47] FrancescoXX commented on #143
closing this as we are migrating to docusaurus

[2022-11-06 16:47] #143 closed

[2022-11-06 16:48] FrancescoXX commented on #113
nice idea but discussions should happen on discord

[2022-11-06 16:48] #113 closed

[2022-11-06 16:52] #309 closed

[2022-11-06 17:00] FrancescoXX opened #311 "change the Twitter handle to the 4c community one"
### Is your feature request related to a problem? Please describe.

change the current Twitter handle redirection to the 4c Twitter account:

https://twitter.com/4ccommunityhq

you should update the docusaurus.config.js file

line 105
![image](https://user-images.githubusercontent.com/18360871/200184123-0785590b-1fc8-4dfd-a914-390e1b1a5383.png)

![image](https://user-images.githubusercontent.com/1

[2022-11-06 17:00] RakeshSangem commented on #311
I want to work on it.

[2022-11-06 17:02] FrancescoXX opened #312 "Remove the Stack Overflow link in the footer"
### Is your feature request related to a problem? Please describe.

Remove the link in the footer that redirects to Stack Overflow

![image](https://user-images.githubusercontent.com/18360871/200184273-254b353a-33db-44f6-9877-57ac379b4e51.png)

### Describe the solution you'd like

the Stack OVerflow link should not be visible

### Describe alternatives you've considered

_No response_

### Additi

[2022-11-06 17:04] FrancescoXX opened #313 "Add discord link in the footer"
### Is your feature request related to a problem? Please describe.

please update the docusaurus.config.js file to redicrect to the 4c community Discord server

![image](https://user-images.githubusercontent.com/18360871/200184352-161ecc2a-c75c-48df-9041-dadbb15cfc4f.png)

link to use: https://discord.com/invite/JZ2btyTfzQ

### Describe the solution you'd like

clicking on the discord link in the

[2022-11-06 17:05] ardasevinc commented on #311
Please go ahead, I'll assign you

[2022-11-06 17:05] FrancescoXX opened #314 "Algolia Integration"
### Is your feature request related to a problem? Please describe.

integrate Algolia search functionalioty in the current docusaurus project

### Describe the solution you'd like

Algolia should be enabled and visible on the top-right.

Something like this:

![image](https://user-images.githubusercontent.com/18360871/200184467-003f7e92-6d26-48b4-bcec-58d15f845412.png)

### Describe alternatives y

[2022-11-06 17:08] RakeshSangem commented on #311
Thank you, @ardasevinc

[2022-11-06 17:08] FrancescoXX opened #315 "Update the Readme.md file"
### 📚 Documentation

update the Readme.md file to tell people how to start the project locally using Docusaurus

### Add relevant screenshot or video (if any)

_No response_

### Additional context

_No response_

[2022-11-06 17:11] FrancescoXX opened #316 "Add the Roadmap section"
### 📚 Documentation

Please add a section about "Roadmaps"

![image](https://user-images.githubusercontent.com/18360871/200184696-84bee27a-6b01-4641-813f-dc62105235e3.png)

### Add relevant screenshot or video (if any)

_No response_

### Additional context

_No response_

[2022-11-06 17:23] ardasevinc commented on #314
I will take this, I have already determined the first steps to integrate algolia docsearch.

According to docusarus' [search docs](https://docusaurus.io/docs/search) to use Algolia DocSearch we must apply to the DocSearch program [here](https://docsearch.algolia.com/apply/).

[The checklist](https://docsearch.algolia.com/docs/who-can-apply/) for applying says that we must already have the content

[2022-11-06 17:25] ardasevinc commented on #311
Good luck! Keep us posted

[2022-11-06 17:30] FrancescoXX commented on #314
yes I think this is on me

[2022-11-07 04:17] andrewkykoo commented on #313
Hi @FrancescoXX @ardasevinc, I would like to help with this issue. Thanks.

[2022-11-07 04:18] andrewkykoo commented on #312
Hello @FrancescoXX @ardasevinc I would like to contribute to this issue! Thanks.

[2022-11-07 08:27] Cngsu commented on #312
Hello @FrancescoXX I want to solve this issue. Thanks!

[2022-11-08 07:31] ardasevinc commented on #312
Go ahead!

[2022-11-08 08:08] #311 closed

[2022-11-08 08:16] ardasevinc commented on #313
resolved with #318

[2022-11-08 08:16] #313 closed

[2022-11-10 06:17] #312 closed

[2022-11-12 15:32] ardasevinc commented on #316
Closing as completed in #317

[2022-11-12 15:32] #316 closed

[2022-11-30 10:41] ankasaw99 opened #327 "Adding one more amazing platform containing free resources"
### Is your feature request related to a problem? Please describe.

Adding a learning platform to list

### Describe the solution you'd like

Thank you **Francesco** and the **contributors** for collecting wonderful resources for web3 enthusiasts.
I would like to suggest one more platform to add to this amazing list.

Platform Name : **DApp World**
Website: https://dapp-world.com

Description : On